{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
   <link
      href="{%  static 'assets/libs/jquery-steps/jquery.steps.css' %}"
      rel="stylesheet"
    />
    <link href="{%  static 'assets/libs/jquery-steps/steps.css' %}" rel="stylesheet" />
    <link href="{%  static 'assets/dist/css/style.min.css' %}" rel="stylesheet" />
{% endblock custom_css %}
{% block page_title %}Add Subject{% endblock page_title %}
{% block main_content %}
     <div class="row">
            <div class="col-md-12">
              <div class="card">
                <form class="form-horizontal" action="/addsubject_save" method="post">
                    {% csrf_token %}
                  <div class="card-body">
                    <h4 class="card-title">Subject Detail</h4>
                    <div class="form-group row">
<!--                      <label class="col-sm-3 text-end control-label col-form-label">First Name *</label>-->
                      <div class="col-sm-12">
                        <input type="text" class="required form-control" name="subject_name" placeholder="Subject Name *"/>
                      </div>
                    </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <select class="select2 form-select shadow-none" style="width: 100%; height: 36px" name="course">
                        <option value="" disabled selected hidden>Course</option>
                        {%  for course in course %}
                           <option value="{{ course.id }}">{{ course.course_name }}</option>
                        {%  endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <select class="select2 form-select shadow-none" style="width: 100%; height: 36px" name="staff">
                        <option value="" disabled selected hidden>Staff</option>
                        {%  for staff in staff %}
                           <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                        {%  endfor %}
                      </select>
                    </div>
                  </div>    
                  </div>
                  <div class="form-group row">
                     {% if messages %}
                       <div>
                         {% for message in messages %}
                         {% if message.tags == 'error' %}
                         <div class="alert alert-danger">{{ message }}</div>
                         {% endif %}
                         {% if message.tags == 'success' %}
                         <div class="alert alert-success">{{ message }}</div>
                         {% endif %}
                         {% endfor %}
                       </div>
                    {% endif %}
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Add Subject</button>
                    </div>
                </form>
              </div>
{% endblock main_content %}
