{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css"  href="{%  static 'assets/extra-libs/multicheck/multicheck.css' %}"/>
    <link href="{%  static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css'  %}"  rel="stylesheet"/>
    <link href="{%  static 'dist/css/style.min.css'  %}" rel="stylesheet" />

{% endblock custom_css %}
{% block page_title %}Manage Student{% endblock page_title %}
{% block main_content %}
  <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Student Detials</h5>
                  <div class="table-responsive">
                    <table
                      id="zero_config"
                      class="table table-striped table-bordered"
                    >
                      <thead>

                        <tr>
                          <th>ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>Gender</th>
                          <th>Profile Picture</th>
                          <th>Session Start</th>
                          <th>Session End</th>
                          <th>Course</th>
                          <th>Last Login</th>
                          <th>Date Joined</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for student in students %}
                        <tr>
                          <th>{{ student.admin.id}}</th>
                          <th>{{ student.admin.first_name}}</th>
                          <th>{{ student.admin.last_name}}</th>
                          <th>{{ student.admin.username}}</th>
                          <th>{{ student.admin.email}}</th>
                          <th>{{ student.admin.address}}</th>
                          <th>{{ student.admin.last_login}}</th>
                          <th>{{ student.admin.date_joined}}</th>
                          <th><a href="/editstudent/{{ student.admin.id}}" class="btn btn-success">Edit</a></th>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>Gender</th>
                          <th>Profile Picture</th>
                          <th>Session Start</th>
                          <th>Session End</th>
                          <th>Course</th>
                          <th>Last Login</th>
                          <th>Date Joined</th>
                          <th>Action</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
{% endblock main_content %}
{% block custom_js %}
<!-- This Page JS -->

    <!-- this page js -->
    <script src="{%  static 'assets//extra-libs/multicheck/datatable-checkbox-init.js'  %}"></script>
    <script src="{%  static 'assets//extra-libs/multicheck/jquery.multicheck.js'  %}"></script>
    <script src="{%  static 'assets//extra-libs/DataTables/datatables.min.js'  %}"></script>
    <script>
      /****************************************
       *       Basic Table                   *
       ****************************************/
      $("#zero_config").DataTable();
    </script>

{% endblock custom_js %}